{% extends 'base.html' %}

{% block head %}
  <title>Python Flask</title>
{% endblock %}

{% block body %}
  <h1>Write Your Thoughts</h1>
  <hr>
  <div class="jumbotron">
      <div class="col-sm-8 mx-auto">
        <h1>Welcome</h1>
        <p>This is a demo website developed in Python - Flask.
          You can create, update and delete blog in this website..</p>
        <p>Technologies, used to develop this website are - Python, Flask, Bootstrap, html and css</p>
        <p>
          <a class="btn btn-primary" href="/posts" role="button">View Blogs &raquo;</a>
        </p>
      </div>
    </div>
{% endblock %}