{% extends 'base.html' %}

{% block head %}
  <title>New Post</title>
{% endblock %}
{% block body %}
  <hr>
      <h2>Post a new Blog</h2>
      <form action="/posts" method="POST">
          <label for="title">Title:</label>
          <input class="form-control" type="text" id="title" name="title" placeholder="Enter the title" aria-label="Enter the title">
      <br>
          <label for="author">Author:</label>
          <input class="form-control" type="text" id="author" name="author" placeholder="Enter the name of the Author" aria-label="Enter the name of the Author">
      <br>
          <label for="content">Example textarea</label>
          <textarea class="form-control" id="content" name="content" rows="3"></textarea>
      <br>
      <input class="btn btn-success" type="submit" value="Post">
      </form>
{% endblock %}